@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?31778310');
  src: url('../fonts/fontello.eot?31778310#iefix') format('embedded-opentype'), url('../fonts/fontello.woff2?31778310') format('woff2'), url('../fonts/fontello.woff?31778310') format('woff'), url('../fonts/fontello.ttf?31778310') format('truetype'), url('../fonts/fontello.svg?31778310#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */


/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */


/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?31778310#fontello') format('svg');
  }
}
*/

[class^="fontello-"]:before,
[class*=" fontello-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.fontello-leaf:before {
  content: '\e800';
}


/* '' */

.fontello-icon-polyline:before {
  content: '\e801';
}


/* '' */

.fontello-path-circle:before {
  content: '\e802';
}


/* '' */

.fontello-path-polygon:before {
  content: '\e803';
}


/* '' */

.fontello-path-line:before {
  content: '\e804';
}


/* '' */

.fontello-glyph-12:before {
  content: '\e805';
}


/* '' */

.fontello-glyph-13:before {
  content: '\e806';
}


/* '' */

.fontello-comments-alt:before {
  content: '\e807';
}


/* '' */

.fontello-right-open-big:before {
  content: '\e808';
}


/* '' */

.fontello-spin6:before {
  content: '\e809';
}


/* '' */

.fontello-search-1:before {
  content: '\e80a';
}


/* '' */

.fontello-user:before {
  content: '\e80b';
}


/* '' */

.fontello-users:before {
  content: '\e80c';
}


/* '' */

.fontello-male:before {
  content: '\e80d';
}


/* '' */

.fontello-videocam:before {
  content: '\e80e';
}


/* '' */

.fontello-picture:before {
  content: '\e80f';
}


/* '' */

.fontello-camera:before {
  content: '\e810';
}


/* '' */

.fontello-th-large:before {
  content: '\e811';
}


/* '' */

.fontello-th:before {
  content: '\e812';
}


/* '' */

.fontello-ok:before {
  content: '\e813';
}


/* '' */

.fontello-plus-squared:before {
  content: '\e814';
}


/* '' */

.fontello-help-circled:before {
  content: '\e815';
}


/* '' */

.fontello-link:before {
  content: '\e816';
}


/* '' */

.fontello-align-right:before {
  content: '\e817';
}


/* '' */

.fontello-eye:before {
  content: '\e818';
}


/* '' */

.fontello-eye-off:before {
  content: '\e819';
}


/* '' */

.fontello-upload:before {
  content: '\e81a';
}


/* '' */

.fontello-reply:before {
  content: '\e81b';
}


/* '' */

.fontello-quote-left:before {
  content: '\e81c';
}


/* '' */

.fontello-code:before {
  content: '\e81d';
}


/* '' */

.fontello-chat-empty:before {
  content: '\e81e';
}


/* '' */

.fontello-location:before {
  content: '\e81f';
}


/* '' */

.fontello-compass:before {
  content: '\e820';
}


/* '' */

.fontello-trash:before {
  content: '\e821';
}


/* '' */

.fontello-folder-open-empty:before {
  content: '\e822';
}


/* '' */

.fontello-box:before {
  content: '\e823';
}


/* '' */

.fontello-phone:before {
  content: '\e824';
}


/* '' */

.fontello-menu:before {
  content: '\e825';
}


/* '' */

.fontello-resize-small:before {
  content: '\e826';
}


/* '' */

.fontello-left-circled2:before {
  content: '\e827';
}


/* '' */

.fontello-down-open:before {
  content: '\e828';
}


/* '' */

.fontello-left-big:before {
  content: '\e829';
}


/* '' */

.fontello-ccw:before {
  content: '\e82a';
}


/* '' */

.fontello-arrows-cw:before {
  content: '\e82b';
}


/* '' */

.fontello-play:before {
  content: '\e82c';
}


/* '' */

.fontello-target:before {
  content: '\e82d';
}


/* '' */

.fontello-sun:before {
  content: '\e82e';
}


/* '' */

.fontello-icon-textbox:before {
  content: '\e82f';
}


/* '' */

.fontello-bold:before {
  content: '\e830';
}


/* '' */

.fontello-italic:before {
  content: '\e831';
}


/* '' */

.fontello-text-height:before {
  content: '\e832';
}


/* '' */

.fontello-text-width:before {
  content: '\e833';
}


/* '' */

.fontello-align-left:before {
  content: '\e834';
}


/* '' */

.fontello-align-center:before {
  content: '\e835';
}


/* '' */

.fontello-pin:before {
  content: '\e836';
}


/* '' */

.fontello-list:before {
  content: '\e837';
}


/* '' */

.fontello-list-bullet:before {
  content: '\e838';
}


/* '' */

.fontello-list-numbered:before {
  content: '\e839';
}


/* '' */

.fontello-strike:before {
  content: '\e83a';
}


/* '' */

.fontello-underline:before {
  content: '\e83b';
}


/* '' */

.fontello-table:before {
  content: '\e83c';
}


/* '' */

.fontello-paste:before {
  content: '\e83d';
}


/* '' */

.fontello-ellipsis-vert:before {
  content: '\e83e';
}


/* '' */

.fontello-road:before {
  content: '\e83f';
}


/* '' */

.fontello-list-alt:before {
  content: '\e840';
}


/* '' */

.fontello-check:before {
  content: '\e841';
}


/* '' */

.fontello-icon-circle:before {
  content: '\e842';
}


/* '' */

.fontello-circle-empty:before {
  content: '\e843';
}


/* '' */

.fontello-icon-isochrone:before {
  content: '\e844';
}


/* '' */

.fontello-fire:before {
  content: '\e845';
}


/* '' */

.fontello-chart-bar:before {
  content: '\e846';
}


/* '' */

.fontello-floppy:before {
  content: '\e847';
}


/* '' */

.fontello-key:before {
  content: '\e848';
}


/* '' */

.fontello-filter:before {
  content: '\e849';
}


/* '' */

.fontello-cab:before {
  content: '\e84a';
}


/* '' */

.fontello-truck:before {
  content: '\e84b';
}


/* '' */

.fontello-money:before {
  content: '\e84c';
}


/* '' */

.fontello-sort:before {
  content: '\e84d';
}


/* '' */

.fontello-gauge:before {
  content: '\e84e';
}


/* '' */

.fontello-stethoscope:before {
  content: '\e84f';
}


/* '' */

.fontello-ambulance:before {
  content: '\e850';
}


/* '' */

.fontello-bank:before {
  content: '\e851';
}


/* '' */

.fontello-eraser:before {
  content: '\e852';
}


/* '' */

.fontello-puzzle:before {
  content: '\e853';
}


/* '' */

.fontello-bullseye:before {
  content: '\e854';
}


/* '' */

.fontello-recycle:before {
  content: '\e855';
}


/* '' */

.fontello-database:before {
  content: '\e856';
}


/* '' */

.fontello-foursquare:before {
  content: '\e857';
}


/* '' */

.fontello-gplus-squared:before {
  content: '\e858';
}


/* '' */

.fontello-linkedin-squared:before {
  content: '\e859';
}


/* '' */

.fontello-twitter-squared:before {
  content: '\e85a';
}


/* '' */

.fontello-cancel-circled:before {
  content: '\e85b';
}


/* '' */

.fontello-download:before {
  content: '\e85c';
}


/* '' */

.fontello-alert:before {
  content: '\e85d';
}


/* '' */

.fontello-icon-marker:before {
  content: '\e85e';
}


/* '' */

.fontello-docs:before {
  content: '\e85f';
}


/* '' */

.fontello-folder:before {
  content: '\e860';
}


/* '' */

.fontello-tools:before {
  content: '\e861';
}


/* '' */

.fontello-share-1:before {
  content: '\e862';
}


/* '' */

.fontello-basket:before {
  content: '\e863';
}


/* '' */

.fontello-down-open-big:before {
  content: '\e864';
}


/* '' */

.fontello-up-open-big:before {
  content: '\e865';
}


/* '' */

.fontello-down-dir:before {
  content: '\e866';
}


/* '' */

.fontello-right-dir:before {
  content: '\e867';
}


/* '' */

.fontello-globe:before {
  content: '\e868';
}


/* '' */

.fontello-chart-bar-2:before {
  content: '\e869';
}


/* '' */

.fontello-search:before {
  content: '\e86a';
}


/* '' */

.fontello-cancel:before {
  content: '\e86b';
}


/* '' */

.fontello-minus:before {
  content: '\e86c';
}


/* '' */

.fontello-share:before {
  content: '\e86d';
}


/* '' */

.fontello-resize-full:before {
  content: '\e86e';
}


/* '' */

.fontello-resize-small-alt:before {
  content: '\e86f';
}


/* '' */

.fontello-cw:before {
  content: '\e870';
}


/* '' */

.fontello-cursor:before {
  content: '\e871';
}


/* '' */

.fontello-layers:before {
  content: '\e872';
}


/* '' */

.fontello-th-thumb:before {
  content: '\e873';
}


/* '' */

.fontello-plus:before {
  content: '\e874';
}


/* '' */

.fontello-doc:before {
  content: '\e875';
}


/* '' */

.fontello-pencil:before {
  content: '\e876';
}


/* '' */

.fontello-left-fat:before {
  content: '\e877';
}


/* '' */

.fontello-ruler:before {
  content: '\e878';
}


/* '' */

.fontello-vector:before {
  content: '\e879';
}


/* '' */

.fontello-left-open-big:before {
  content: '\e87a';
}


/* '' */

.fontello-aboveground-rail:before {
  content: '\e87b';
}


/* '' */

.fontello-bicycle:before {
  content: '\e87c';
}


/* '' */

.fontello-college:before {
  content: '\e87e';
}


/* '' */

.fontello-fuel:before {
  content: '\e87f';
}


/* '' */

.fontello-hospital:before {
  content: '\e880';
}


/* '' */

.fontello-museum:before {
  content: '\e881';
}


/* '' */

.fontello-pitch:before {
  content: '\e882';
}


/* '' */

.fontello-police:before {
  content: '\e883';
}


/* '' */

.fontello-rail:before {
  content: '\e884';
}


/* '' */

.fontello-school:before {
  content: '\e885';
}


/* '' */

.fontello-soccer:before {
  content: '\e886';
}


/* '' */

.fontello-theatre:before {
  content: '\e887';
}


/* '' */

.fontello-town-hall:before {
  content: '\e888';
}


/* '' */

.fontello-tree:before {
  content: '\e889';
}


/* '' */

.fontello-warehouse:before {
  content: '\e88a';
}


/* '' */

.fontello-hourglass:before {
  content: '\e88b';
}


/* '' */

.fontello-taxi:before {
  content: '\e88c';
}


/* '' */

.fontello-lock:before {
  content: '\e88e';
}


/* '' */

.fontello-money-1:before {
  content: '\e88f';
}


/* '' */

.fontello-dollar:before {
  content: '\e890';
}


/* '' */

.fontello-bar:before {
  content: '\e891';
}


/* '' */

.fontello-airport:before {
  content: '\e892';
}


/* '' */

.fontello-fast-food:before {
  content: '\e893';
}


/* '' */

.fontello-ferry:before {
  content: '\e894';
}


/* '' */

.fontello-giraffe:before {
  content: '\e895';
}


/* '' */

.fontello-grocery-store:before {
  content: '\e896';
}


/* '' */

.fontello-restaurant:before {
  content: '\e897';
}


/* '' */

.fontello-toilet:before {
  content: '\e899';
}


/* '' */

.fontello-cafe:before {
  content: '\e89a';
}


/* '' */

.fontello-beer:before {
  content: '\e89b';
}


/* '' */

.fontello-airfield:before {
  content: '\e89c';
}


/* '' */

.fontello-religious-christian:before {
  content: '\e89d';
}


/* '' */

.fontello-motorcycle:before {
  content: '\e89f';
}


/* '' */

.fontello-bus:before {
  content: '\e8a1';
}


/* '' */

.fontello-paw:before {
  content: '\e8a2';
}


/* '' */

.fontello-h-sigh:before {
  content: '\e8a3';
}


/* '' */

.fontello-building:before {
  content: '\e8a4';
}


/* '' */

.fontello-signal:before {
  content: '\e8a5';
}


/* '' */

.fontello-left-open:before {
  content: '\e8a6';
}


/* '' */

.fontello-right-open:before {
  content: '\e8a7';
}


/* '' */

.fontello-up-open:before {
  content: '\e8a8';
}


/* '' */

.fontello-edit:before {
  content: '\e8a9';
}


/* '' */

.fontello-calendar:before {
  content: '\e8aa';
}


/* '' */

.fontello-chart-area:before {
  content: '\e8ab';
}


/* '' */

.fontello-chart-pie:before {
  content: '\e8ac';
}


/* '' */

.fontello-cloud:before {
  content: '\e8ad';
}


/* '' */

.fontello-flag:before {
  content: '\f10c';
}


/* '' */
